<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
[입력]<br><br>
<form th:action="@{/}">
    URL : <input type="text" th:name="url"/><br><br>
    Type : <select th:name="textType">
    <option value="exceptHtmlTag">HTML 태그 제외</option>
    <option value="fullText">Text 전체</option>
</select><br><br>
    출력 단위 묶음 : <input type="text" th:name="printUnit"/><br><br>
    <input type="submit" value="출력"/>
</form>
<br><br>
[출력]<br>
<p th:text="'몫: ' + ${result.unit}"/><br>
<p th:text="'나머지: ' + ${result.remainder}"/><br>


</body>
</html>
